/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

 .list-view .list-cell:even {
-fx-background-color: #D1D5F7;
-fx-text-fill: black;
 -fx-border-color: #E3E3E3;
}
 .list-view .list-cell:hover {
-fx-background-color: #D1D5F7;
    -fx-text-fill: white;
 -fx-border-color: #E3E3E3;
}

.list-view:focused, .list-view:selected {
  
    -fx-border-color: #E3E3E3;
}

.list-view {
  -fx-background-insets: 0;
  -fx-padding: 0;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #D1D5F7;
    -fx-text-fill: white;
    -fx-border-color: #D1D5F7;
     -fx-border-color: #E3E3E3;
}


.buttonmenu{
    -fx-background-color: #E3E3E3;
}

.buttonmenu:hover{
  -fx-background-color: #DEDFE8;
    -fx-font-size: 15px; 
  -fx-cursor:hand ;
}
.buttonmenu:pressed{
  -fx-background-color: #D7DAF1;  
}
.buttonmenu:focused{
  -fx-border-color: #FFFFFF;
}
.buttonmenue:selected{
    -fx-boder-color:  #FFFFFF;
}
.buttonmenue:selected .focus-indicator{
    -fx-focus-color: #FFFFFF;

}

.text-input
{
-fx-text-fill : #515151;
}

.btn:hover{
    -fx-cursor:hand ;
}

.tab{
        -fx-background-color:  #D1D5F7 ;

    -fx-pref-width : 199;
    -fx-pref-height : 30;
}
.tab-header-background{
    -fx-background-color: -fx-primary;
}
.tab:foused{

    -fx-border-color:  #D1D5F7;
}
.tab:selected{
        -fx-border-color: #FFFFFF;
}
.tab:selected .focus-indicator{
    -fx-focus-color:  #D1D5F7;

}
.tab:hover{
        -fx-cursor:hand ;
    -fx-font-size: 14px; 

}

.btnsave{
     -fx-background-color:  #D1D5F7;
}
.btnsave:hover{
    -fx-background-color: #D9DBEE;
        -fx-font-size: 15px; 
}

.btnsave:pressed{
    -fx-background-color:  #E3E3E3;
    -fx-border-color: #FFFFFF;
    
}


.ListView{
    -fx-background-color: black
}
.ListView:selected .focus-indicator{
        -fx-focus-color: black;

}